---
layout: default
---

<article class="post">
  
  <h1>🏠 Hello</h1>

  <div class="entry">
    <p>Welcome to my website. Here I'll try to collect and preserve my thoughts on work I've done, projects I've worked on, animals we've rescued, places we've been, ...</p>

    <p>Everything here is strictly my personal opinion and does not represent the position of any companies, labs, or universities that may appear.</p>
    
    <p>The <a href="{{ site.baseurl }}/about">about</a> page talks more about me. The <a href="{{ site.baseurl }}/tags">all posts</a> page lists all the posts by topic.</p>
  </div>
  
  <h1>📰 Latest Posts</h1>
</article>


<div class="posts">
  {% for post in site.posts limit:20 %}
    <article class="post">    
      
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        <!-- {{ post.content | strip_html | truncatewords:50 }} -->
        {{ post.excerpt | strip_newlines | truncatewords:50 }}
      </div>
      
      <div class="date">
        {{ post.date | date: "%B %e, %Y" }}
        
        {% for category in post.categories %}
        <a class="tag_box" href="/tags/#{{ category }}">#{{ category }}</a>
        {% endfor %}

        
        <a href="{{ site.baseurl }}{{ post.url }}">Read more ➡️</a>
      </div>
    </article>
  {% endfor %}
</div>

<article class="post">    
<h2><a href="{{ site.baseurl }}/tags" class="read-more">Older Posts...</a></h2>
</article>
